$coal :    #3c3d41;
$slate :   #6d6e71;
$silver :  #a9a9a9;
$stone :   #d8d8d9;
$fog :     #f4f4f4;
$white :   #fff;

$notification-red:    #0000a0;
$notification-green:  #178804;
$notification-red:  #f00;

$yellow :       #ffe600;
$dark-yellow :  #f5d500;
$aqua :         #009c9c;
$teal :         #007b85;
$dark-teal :    #005a61;
