// Main colors
//
// This section describe main colors
//
// Markup:
// <div class="flex-wrap">
// <div style="background: $coal;" class="eeg-color">coal</div>
// <div style="background: $slate;" class="eeg-color">slate</div>
// <div style="background: $silver;" class="eeg-color">silver</div>
// <div style="background: $notification-red;" class="eeg-color">notification-red</div>
// <div style="background: $notification-green;" class="eeg-color">notification-green</div>
// <div style="background: $yellow;" class="eeg-color">yellow</div>
// <div style="background: $dark-yellow;" class="eeg-color">dark-yellow</div>
// <div style="background: $aqua;" class="eeg-color">aqua</div>
// <div style="background: $teal;" class="eeg-color">teal</div>
// <div style="background: $dark-teal;" class="eeg-color">dark-teal</div>
// </div>
//
// Styleguide 3.1
$coal  : #3c3d41;
$slate :   #6d6e71;
$silver :  #a9a9a9;
$stone :   #d8d8d9;
$fog :     #f4f4f4;
$white :   #fff;

$notification-green:  #178804;
$notification-red:  #e9020b;

$yellow :       #ffe600;
$dark-yellow :  #f5d500;
$aqua :         #009c9c;
$teal : #007b85;
$dark-teal :    #005a61;

.flex-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  width: calc(33% - .75em);
  margin: .25em;
  text-align: center;
  color: $dark-teal;
  border-radius: 4px;
  border: 1px solid $dark-teal;
}

.eeg-color {
  width: calc(50% - 1em);
  height: 90px;
  line-height: 90px;
  margin: .5em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  text-shadow: #000 0 0 2px;
}
