// Headings
//
// Description of
//
// Markup:
// <h1>Heading 1</h1>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <h5>Heading 5</h5>
// <h6>Heading 6</h6>
//
// Styleguide 3.1
h1 {
  font-size: 7em;
  line-height: 1;
  font-weight: 400;
  color: $teal;
  font-family: $font-nobblee-regular;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  color: $teal;
  font-family: $font-rubrik;
}

h3 {
  font-size: 1.5em;
  color: $dark-teal;
  border: 1px dashed $teal;
  font-family: $font-rubrik;
}

h4 {
  font-family: $font-nobblee-regular;
  color: $dark-teal;
  font-size: 2em;
}
