// Headings
//
// These are our headings
//
// Markup:
// <h1>Heading 1</h1>
// <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa ipsum, tincidunt vel convallis in, suscipit et risus. Morbi erat dolor, mattis at dignissim sed, feugiat sed lorem.
// <h2>Heading 2</h2>
// <p>Mauris feugiat suscipit turpis, ut rhoncus lectus finibus sed. Etiam suscipit consectetur eros vitae venenatis.</p>
// <h3>Heading 3</h3>
// <p>Ut leo ipsum, tincidunt vel mauris eget, convallis egestas justo. Nunc ligula neque, porta ac lorem id, ultrices dapibus dolor.</p>
// <h4>Heading 4</h4>
// <p> Phasellus interdum massa ante, ac placerat felis ultricies at. Fusce vulputate, odio sed convallis laoreet, tortor orci venenatis massa, a placerat ligula nisl vitae felis. In pellentesque ornare eleifend. Suspendisse potenti. Quisque eget mauris enim.</p>
// <h5>Heading 5</h5>
//
// Styleguide 3.2
h1 {
  font-size: 5em;
  line-height: 1;
  font-weight: 400;
  color: $teal;
  font-family: $font-nobblee-regular;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  color: $teal;
  font-family: $font-rubrik;
}

h3 {
  font-size: 1.5em;
  color: $dark-teal;
  font-family: $font-rubrik;
}

h4 {
  color: $dark-teal;
  font-size: 2em;
}
