// Tables
//
// Documentation and examples for opt-in styling of tables
//
// Markup:
//<table class="table">
// <thead>
// <tr>
//   <th>#</th>
//   <th>First Name</th>
//   <th>Last Name</th>
//   <th>Username</th>
// </tr>
// </thead>
// <tbody>
// <tr>
//   <th scope="row">1</th>
//   <td>Mark</td>
//   <td>Otto</td>
//   <td>@mdo</td>
// </tr>
// <tr>
//   <th scope="row">2</th>
//   <td>Jacob</td>
//   <td>Thornton</td>
//   <td>@fat</td>
// </tr>
// <tr>
//   <th scope="row">3</th>
//   <td>Larry</td>
//   <td>the Bird</td>
//   <td>@twitter</td>
// </tr>
// </tbody>
// </table>
//
// Styleguide 3.6

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;

  th,
  td {
    padding: 1em;
    vertical-align: top;
    border-top: 1px solid $coal;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $coal;
  }

  tbody + tbody {
    border-top: 2px solid $coal;
  }

  tbody tr:first-child td,
  tbody tr:first-child th {
    border-top: 0;
  }
}
