// Colors & Typograpgy
//
// This section describes base colors and typography
//
// Styleguide 3.0

@font-face {
  font-family: Nobblee;
  src: url('./fonts/nobblee_regular.woff') format('woff'), url('.fonts/nobblee_regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Rubrik;
  src: url('./fonts/rubrik_regular.woff') format('woff'), url('.fonts/rubrik_regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: ee-icons;
  src: url('./fonts/ee-icons.woff') format('woff'), url('./fonts/ee-icons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

$font-arial: Arial, sans-serif;
$font-nobblee-regular: Nobblee, Arial, sans-serif;
$font-rubrik: Rubrik, Arial, sans-serif;

@import './_colours';
@import './_headings';
@import './_icons';
@import './_text';
@import './_tables';
@import './_lists';
@import './_blockquotes';
