// Form buttons
//
// .eeg-form-button  - default.
// :disabled  - disabled.
// :hover  - hover.
// .eeg-form-button--align-center  - align center.
//
// Markup:
// <a class="eeg-form-button {$modifiers}" href="#">Item</a>
//
// Styleguide 7.1
.eeg-form-button {
  padding: 0 30px;
  border: 0;
  border-radius: 22px;
  display: inline-block;
  background-color: ee-colour('teal');
  color: ee-colour('white');
  font-size: 16px;
  font-weight: 600;
  line-height: 44px;
  text-decoration: none;

  &:hover {
    background-color: ee-colour('dark-teal');
    color: ee-colour('white');
  }

  &:disabled {
    background-color: ee-colour('stone');

    &:hover {
      background-color: ee-colour('stone');
    }
  }

  &--align-center {
    display: inline-block;
    vertical-align: middle;
  }

  &.cta-spinner {
    background-position: 90% 50%;
    background-repeat: no-repeat;

    &.visible {
      padding: 0 60px 0 30px;
      background-image: url(../img/ajax-loader.gif);
    }
  }
}
